/* Add any CSS you need to this file. */

body {
  margin: 0;
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-color: #d7c79e;
  margin-left: 150px;
}

.topnavbar {
  overflow: hidden;
  background-color: #a35638;
}

.topnavbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 17px;
}

.topnavbar a:hover {
  background-color: #1a0d00;
  color: white;
}

.topnavbar a.home, a.contact, a.about {
  color: white;
  margin-top: 9px;
}

.topnavbar a.user, a.cart{
  color: white;
  margin-top: 9px;
  float: right;
  margin-right: 10px;
}

.topnavbar .icon{
  margin-top: 9px;
  display: none;
}

@media screen and (max-width: 680px){
  .topnavbar a:not(:first-child), .catalogdropdown .btn {
    display: none;}
  .topnavbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 680px) {
  .topnavbar.responsive {position: relative;}
  .topnavbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnavbar.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
  .topnavbar.responsive .catalogdropdown{
    float: none;
  }
  .topnavbar.responsive .catalogdropdown-content{
    position: relative;
  }
  .topnavbar.responsive .catalogdropdown .btn{
    display: block;
    width: 100%;
    text-align: left;
  }
  
}

.catalogdropdown .btn{
  margin-top: 9px;
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 16px 18px;
  background-color: inherit;
}

.catalogdropdown button:hover{
  background-color: #1a0d00;
  color: white;
}

.logo{
  width: 20px;
}
 .catalogdropdown{
  float: left;
  overflow: hidden;
 }

.catalogdropdown-content{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.catalogdropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.catalogdropdown-content a:hover {
  background-color: #ddd;
}

.catalogdropdown:hover .catalogdropdown-content {
  display: block;
  background-color: #009933;
}

.catalogdropdown-content .modern:hover{
  background-color: gray;
}

.catalogdropdown-content .classic:hover{
  background-color: #663300;
}

.catalogdropdown-content .custom:hover{
  background-color: #cc0044;
}

.catalogdropdown-content .gates:hover{
  background-color: darkgoldenrod;
}

.currentcollection{
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.currentcollection-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.currentcollection-text{
  position: absolute;
  background: #e08f62;
  background: rgba(224, 143, 98, 0.5); 
  color: #f1f1f1;
  width: 100%;
  bottom: 0;
}

.currentcollection-text h1,p{
  padding-left: 10px;
}

h2{
  margin-top: 30px;
  margin-left: 95px;
}

.item-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 95px;
}

.item-card{
  margin-right: 50px;
  margin-bottom: 50px;
}

.item-photo{
  background-color: white;
  width: 255px;
  height: 300px;
  text-align: center;
  border: solid;
  border-width: 1px;
}

.item-photo img{
  max-width: 100%;
  max-height: 100%;
}

.item-info{
  float: left;
  border: solid;
  border-width: 1px;
  border-color: gray;
  padding-top: 5px;
  padding-left: 5px;
  background-color: white;
  width: 153px;
  height: 40px;
}

.item-info p, h7{
  margin-top: 0px;
}

.cartbutton{
  background-color: #e08f62;
  text-align: center;
  border: solid;
  height: 47px;
  border-width: 1px;
  cursor: pointer;
}

.sidebar{
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #9dab86;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  text-decoration: none;
  padding: 6px 8px 6px 16px;
  font-size: 25px;
  color: #d7c79e;
  display: block;
}

.sidebar button{
  text-align: left;
  border: none;
  background-color: #9dab86;
  padding: 6px 8px 6px 16px;
  font-size: 25px;
  color: #d7c79e;
  display: block;
}

.sidebar a:hover, .sidebar button:hover {
  color: gray;
}

.footerbar{
	background-color: #a35638;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 20px 100px 90px 100px;
	margin-top: 80px;
}

.footerbar .footerbar-left,
.footerbar .footerbar-right{
	display: inline-block;
	vertical-align: top;
}

.footerbar .footerbar-left{
	width: 30%;
}

.footerbar .footerbar-left button{
  border: none;
  width:70px;
  height: 21px;
  background-color: #e08f62;
  text-align: center;
}

.footerbar .footerbar-right{
  width: 30%;
  float: right;
}

.footerbar i{
  text-decoration: none;
  font-size: 40px;
  margin-right: 23px;
}

.footerbar-icons{
  margin-left: 10px;
}

.footerbar-about h3{
  margin-left: 10px;
}

.footerbar-name{
  margin-left: -10px;
}

@media screen and (max-width: 680px) {
	.footerbar .footerbar-left,
	.footerbar .footerbar-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
    text-align: center;
    float: initial;
	}
}

.contact-title{
  margin-left: 60px;
  margin-bottom: 50px;
}

#fname-label, #lname-label{
  padding-top: 8px;
  margin-left: 60px;
}

#fname, #lname{
  margin-left: 10px;
  width: 350px;
  line-height: 30px;
}

#email{
  margin-top: 30px;
  margin-left: 10px;
  width: 390px;
  line-height: 30px;
}

#email-label{
  padding-top: 8px;
  margin-left: 60px;
  margin-top: 30px;
}

#address{
  margin-top: 30px;
  margin-left: 10px;
  width: 250px;
  line-height: 30px;
}

#address-label{
  padding-top: 8px;
  margin-left: 60px;
  margin-top: 30px;
}

#city-label{
  padding-top: 8px;
  margin-left: 20px;
  margin-top: 30px;
}

#city-input{
  margin-top: 30px;
  margin-left: 10px;
  width: 130px;
  line-height: 30px;
}

#province-label{
  padding-top: 8px;
  margin-left: 20px;
  margin-top: 30px;
}

#province-input{
  margin-top: 30px;
  margin-left: 10px;
  width: 190px;
  line-height: 30px;
}

#postal-label{
  padding-top: 8px;
  margin-left: 20px;
  margin-top: 30px;
}

#postal{
  margin-top: 30px;
  margin-left: 10px;
  width: 130px;
  line-height: 30px;
}

#phonenum-label{
  padding-top: 8px;
  margin-left: 60px;
  margin-top: 30px;
}

#phonenum{
  margin-top: 30px;
  margin-left: 10px;
  width: 227px;
  line-height: 30px;
}

#phoned{
  margin-left: 182px;
}

#ordernum{
  display: none;
  margin-top: 25px;
  margin-left: 10px;
  width: 250px;
  line-height: 30px;
}

#ordernum-label{
  display: none;
  padding-top: 3px;
  margin-left: 60px;
  margin-top: 30px;
}

#message{
  margin-top: 5px;
  margin-left: 60px;
}

#message-label{
  padding-top: 3px;
  margin-left: 50px;
  margin-top: 30px;
}

#submitbtn, #resetbtn{
  margin-right: 100px;
  float: right;
  width: 100px;
  height: 50px;
  background-color: #9dab86;
  border: solid;
  border-color: #a35638;
}